@font-face {
  font-family: "Voto Serif GX";
  src: url("VotoSerifGX.ttf") format("truetype-variations");
  font-weight: 28 194;
  font-stretch: 50% 130%;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font: 1.2em "Voto Serif GX", serif;
  font-variation-settings: "wght" 100, "wdth" 80, "opsz" 50;
  margin: 0px;
  padding: 0px;
  background-color: #f9f9f9;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* HEAD */
header {
  container: header / inline-size;
}
#top-head {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 50px;
  margin: 100px auto 0;
  padding: 0;
  line-height: 50px;
  z-index: 999;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
#top-head .inner {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}
#top-head a {
  margin-left: 12px;
  color: #333;
}
#top-head img {
  vertical-align: bottom;
  height: 50px;
  width: 250px;
  position: absolute;
}
#global-nav {
  position: absolute;
  inset: 0 0 0 auto;
  line-height: 1;
}
#global-nav li {
  display: inline-block;
  text-align: center;
}
#global-nav ul li a {
  display: block;
  margin: 0 8px;
}
/* Fixed */
#top-head.fixed {
  margin-top: 0;
  position: fixed;
  top: 0;
  height: 50px;
  background: rgba(255, 255, 255, 0.7);
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}
/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 24px;
  height: 18px;
  cursor: pointer;
  z-index: 101;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #666;
  left: 0;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 8px;
}
#nav-toggle span:nth-child(3) {
  top: 16px;
}

/* MAIN */
main {
  container: main / inline-size;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0 0 0;
}
#background {
  background-color: white;
  box-shadow: 0 0 1px #dddddd;
  margin-top: 1rem;
}
.general {
  max-width: 276px;
  margin: 0 auto;
  padding: 1rem 0;
}
.general h1 {
  text-align: center;
  margin: 0 auto 1rem;
}
.gridGallery {
  display: grid;
  grid-gap: 1rem;
  place-content: center;
  grid-template-columns: 1fr 1fr;
}
.item {
  display: block;
  position: relative;
  width: 130px;
  overflow: hidden;
  margin: 0 auto;
}
.item::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
  vertical-align: bottom;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.item:hover img {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.lum-lightbox {
  top: 50px;
}
.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}
.section-2,
.section-4 {
  direction: rtl;
}
.text h2 {
  text-align: center;
}
.text p {
  direction: ltr;
}
.photo img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
#gMap {
  display: block;
  width: 100%;
  height: 300px;
}
#content {
  width: 100%;
  height: 200px;
}
#spearly-list-body {
  margin: 0;
  padding: 0;
}
#spearly-list-body li {
  margin: 1rem auto;
}
#spearly-list-body li:first-child {
  margin-top: 0;
}
#spearly-list-body li:last-child {
  margin-bottom: 0;
}
#spearly-list-body a {
  display: block;
  color: lavender;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
}
#spearly-list-body a:hover {
  top: -5px;
  transition: 0.3s ease-in-out;
}
#spearly-list-body a img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}
#spearly-list-body a .articleTextLink {
  width: 100%;
  height: 130px;
  margin: 0;
  padding: 1rem;
}
.articleTextLink h3,
.articleTextLink p {
  margin: 0;
}
.article-item-wrapper img {
  display: block;
  margin: 0 auto;
  height: 260px;
  object-fit: cover;
}

/* FOOTER*/
footer {
  container: footer / inline-size;
  width: 90%;
  margin: 0 auto;
}
#under-nav ul {
  padding: 0;
  width: 276px;
  margin: 0 auto;
  font-size: 0;
}
#under-nav li {
  display: block;
  width: 130px;
  margin: 8px auto;
  text-align: center;
}
footer #under-nav a {
  position: relative;
  display: block;
  color: #333;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: all 0.5s;
  height: 50px;
  line-height: 50px;
}
footer #under-nav a::before,
footer #under-nav a::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
footer #under-nav a::before {
  top: 0;
  left: 0;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
}
footer #under-nav a::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}
footer #under-nav .minimini a:hover {
  background-color: #ed462f;
  color: #fff;
  transition: all 0.7s;
}
footer #under-nav .homes a:hover {
  background-color: #ed622f;
  color: #fff;
  transition: all 0.7s;
}
footer #under-nav .suumo a:hover {
  background-color: #5aae0c;
  color: #fff;
  transition: all 0.7s;
}
footer #under-nav a:hover::before,
footer #under-nav a:hover::after {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.7s;
}

@container header (max-width: 800px) {
  #top-head {
    position: fixed;
    top: 0;
    margin-top: 0;
  }
  #top-head.fixed {
    padding-top: 0;
  }
  #mobile-head {
    width: 100%;
    height: 50px;
    z-index: 999;
    position: relative;
  }
  #global-nav {
    display: none;
    position: absolute;
    background: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    inset: auto;
  }
  #global-nav ul {
    position: static;
    padding: 0;
    font-size: 14px;
  }
  #global-nav li {
    display: block;
  }
  #top-head #global-nav ul li a,
  #top-head.fixed #global-nav ul li a {
    color: #fff;
    padding: 18px 0;
  }
  #nav-toggle {
    display: block;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  /* #global-nav スライドアニメーション */
  .open #global-nav {
    display: block;
  }
}

@container main (min-width: 454px) {
  .general {
    max-width: 422px;
  }
  .gridGallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #spearly-list-body a {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@container main (min-width: 600px) {
  .general {
    max-width: 568px;
  }
  .gridGallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@container footer (min-width: 454px) {
  #under-nav ul {
    width: 422px;
    padding-top: 8px;
  }
  #under-nav li {
    display: inline-block;
    margin: 0 8px;
  }
  #under-nav li:first-child {
    margin-left: 0;
  }
  #under-nav li:last-child {
    margin-right: 0;
  }
}
